.subscribir-contacto{
    text-align: center;
}
.form-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#discord{
    display: flex;
    flex-direction: row;
    justify-content: center;
}