.main-inicio{
    .img-messi{
        justify-content: center;
        text-align: center;
        align-content: center;
    }
    .parrafos-inicio{
        font-family: $letra-terciaria;
        text-align: center;
        align-items: center;
    }
    .form-inicio{
        font-family: $letra-terciaria;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}