header{
    background-color: $color-secundario;
    width: 100%;
    @include flexbox(row, space-between, center);
    .logo{
        @include flexbox(row, start, center);
    }
    nav{
        padding: 10px;
        ul{
            font-family: $letra-primaria;
            display: flex;
            justify-content: end;
            padding: 0;
            margin: 0;
            list-style-type: none;
            li{
                padding: 0 10px;
                text-align: center;
                a{
                    font-size: 23px;
                    text-decoration: none;
                    color: $color-terciario;
                    &:hover{
                        color: $color-primario;
                    }
                }
            }
        }
    }
}
